/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* 헤더 스타일 */
header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* 네비게이션 스타일 */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

/* 섹션 스타일 */
section {
  padding: 20px;
  text-align: center; /* 달력을 가운데 정렬하기 위해 추가 */
}

h2 {
  margin-top: 0;
}

/* 달력 스타일 */
.calendar {
  border-collapse: collapse;
  margin: 0 auto; /* 달력을 가운데 정렬하기 위해 추가 */
  max-width: 600px; /* 달력의 최대 너비 지정 */
}

.calendar h3 {
  text-align: center;
  margin: 10px 0;
}

.calendar-row {
  display: flex;
}

.calendar-cell {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.weekday {
  background-color: #f2f2f2;
}

.empty {
  background-color: #f8f8f8;
}

.date {
  cursor: pointer;
}

.date:hover {
  background-color: #333;
  color: #fff;
}
